@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900');
body{


  font-family: 'Heebo', sans-serif;
  background: #F9F9F9;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

*::-webkit-scrollbar {
  width: 9px; 
  height:9px;              /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: transparent;        /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: #a1a1a1;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid transparent;  /* creates padding around scroll thumb */
}

.pac-container{
  z-index: 9999999 !important;

}