@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900');
body{


  font-family: 'Heebo', sans-serif;
  background: #F9F9F9;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  
}




*::-webkit-scrollbar {
  width: 9px; 
  height:9px;              /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: transparent;        /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: #91919178;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid transparent;  /* creates padding around scroll thumb */
}

.pac-container{
  z-index: 9999999 !important;

}

/* styles label marker maphook */
.label-marker-maphook{

 
}

.gm-style-iw, .gm-style-iw-c{

  max-width:270px !important;
  max-height:310px !important;
  width: 270px !important;
  height: 310px !important;
  padding: 6px !important;
  overflow-y: scroll !important;
  overflow-x: hidden !important;

}

.gm-style-iw-d{ 
  max-height: fit-content !important; 
  overflow-x: hidden !important; 
  overflow-y: scroll !important; 
}


.gm-ui-hover-effect{
  width: 45px !important;
  height: 45px !important;
  right: 6px !important;
}

.gm-ui-hover-effect > span{

  width: 45px !important;
  height: 45px !important;
  right: 9px !important;
}

@media(min-width:305px){
  .gm-style-iw, .gm-style-iw-c{

    max-width:290px !important;
    max-height:340px !important;
    width: 290px !important;
    height: 340px !important;

  
  }
  
}

@media (min-width: 800px) {

  .gm-style-iw, .gm-style-iw-c{

    max-width: 600px !important;
    max-height: 440px !important;
    width: 600px !important;
    height: 440px !important;
  }
}

@media(min-width: 1400px){

  .gm-style-iw, .gm-style-iw-c{

    max-width: 800px !important;
    max-height: 580px !important;
    width: 800px !important;
    height: 580px !important;
  }
  
}
