@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900');
body{


  font-family: 'Heebo', sans-serif;
  background: #F9F9F9;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  
}




*::-webkit-scrollbar {
  width: 9px; 
  height:9px;              /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: transparent;        /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: #919191a1;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid transparent;  /* creates padding around scroll thumb */
}

.pac-container{
  z-index: 9999999 !important;

}



.label-marker-method-addmarker{
  background: white;  
  width:75px;
  height: 16px;
  border-radius: 20px;
  padding: 2px;
  font-size: 14px  !important;
  font-weight: 900;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top:50px;
  box-shadow: 0px 0px 6px rgba(0,0,0,0.8);
  z-index: 99999 !important;
  position: relative;

}





.gm-style-iw, .gm-style-iw-c{

  max-width:230px !important;
  max-height:280px !important;
  width: 230px !important;
  height: 280px !important;
  padding: 4px !important;
  overflow-y: scroll !important;
  overflow-x: hidden !important;

}

.gm-style-iw-d{ 
  max-height: fit-content !important; 
  overflow-x: hidden !important; 
  overflow-y: scroll !important; 
}


.gm-ui-hover-effect{
  width: 45px !important;
  height: 45px !important;
  right: 6px !important;
}

.gm-ui-hover-effect > span{

  width: 45px !important;
  height: 45px !important;
  right: 9px !important;
}

@media(min-width:305px){
  .gm-style-iw, .gm-style-iw-c{

    max-width:290px !important;
    max-height:330px !important;
    width: 290px !important;
    height: 330px !important;

  
  }
  
}

@media (min-width: 800px) {

  .gm-style-iw, .gm-style-iw-c{

    max-width: 400px !important;
    max-height: 360px !important;
    width: 400px !important;
    height: 360px !important;
  }
}

@media(min-width: 1400px){

  .gm-style-iw, .gm-style-iw-c{

    max-width: 800px !important;
    max-height: 520px !important;
    width: 800px !important;
    height: 520px !important;
  }
  
}
